---
layout: default
---

<a href="/index.html"><img id="logo" alt="Book Club" src="/assets/logo-red.png" draggable="false"></a>
<a href="/index.html"><img id="little-logo" alt="Book Club" src="/assets/logo-red.png" draggable="false"></a>

<div class="illustration" style="background-image: url('/assets/{{ page.image }}')"></div>
<h1>{{ page.title }}</h1>
<style>h1::before{ content: "{{ page.error }}"; -webkit-transform: translateX(-50%) translateY(-10px); transform: translateX(-50%) translateY(-10px); }</style>
<p>{{ page.message }}</p>

<div class="spacer"></div>

{% include footer.html %}