---
layout: default
---
<a href="https://guinane.xyz/Book-Club/">
    <img id="logo" alt="Book Club" src="https://guinane.xyz/Book-Club/assets/logo-red.png" draggable="false" class="alt">
</a>

<div class="front" style="
width: calc({{ page.a }}px * 1.1);
background-image: url(https://guinane.xyz/Book-Club/books/{{ page.code }}.jpeg);
height: calc({{ page.b }}px * 1.1);

left: 50%;
top: 35px;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
"></div>

<h2 class="{{ page.prefix }}">{{ page.title }}</h2>
<p class="byline">{{ page.by }}</p>

{{ content }}

{% include disqus.html %}

<div class="spacer"></div>

{% include footer.html %}