---
layout: default
---
<a href="https://guinane.xyz/Book-Club/index.html"><img id="logo" alt="Book Club" src="https://guinane.xyz/Book-Club/assets/logo-red.png" draggable="false" style="-webkit-transform: scale(0.7); transform: scale(0.7); top: 10px; left: 15px;"></a>

<div class="front" style="
width: calc(296px * 1.1);
background-image: url(https://guinane.xyz/Book-Club/books/doet.jpeg);
height: calc(445px * 1.1);

left: 50%;
top: 35px;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
"></div>

<h2 class="{{ page.prefix }}">{{ page.title }}</h2>
<p class="byline">{{ page.by }}</p>

{{ content }}

{% include disqus.html %}

<div class="spacer"></div>

{% include footer.html %}